# Compiled Object files
*.slo
*.lo
*.o
OBJ/

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Dependency Files
**/DEPS/**/*.d

# Executables
EXE/
LIB/

# YCM compiled config
.ycm_extra_conf.pyc

# misc
train-sch.sublime-workspace
*~
.venv

# Django stuff
*.sqlite3
__pycache__/
media/
mysite/components/
mysite/node_modules/
